/* .nytcontainer h2 {
  margin: auto 0;
  padding: none;
  color: none;
  align-items: center;
  font-weight: bold;
  margin-top: 10px;
}

.best-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

.bestCard {
  padding: 0;
  max-width: 150px;
}

img.card {
  width: 250px;
  overflow: hidden;
}

button.info-btn {
  flex-direction: row;
  justify-content: space-between;
  background: none;
  background-color: rgb(0, 0, 0, 0.0);
  border: none;
  color: #41B3A3;
  font-size:  25px;
}

button.info-btn:hover {
  flex-direction: row;
  justify-content: space-between;
  background: none;
  background-color: rgb(0, 0, 0, 0.0);
  border: none;
  color: #7CC3B1;
  font-size:  28px;
}

button.bookshelf-btn {
  flex-direction: row;
  justify-content: space-between;
  background: none;
  background-color: rgb(0, 0, 0, 0.0);
  border: none;
  color:  #E27D60;
  font-size:  25px;
}

button.shelf-btn:hover {
  flex-direction: row;
  justify-content: space-between;
  background: none;
  background-color: rgb(0, 0, 0, 0.0);
  border: none;
  color: #E8A87C;
  font-size:  28px;
}

/*
@media (max-width: 767px) {
  div.nyt-container {
      max-width: 240px;
      margin-top: 20px;
  }
  div.info-container {
      height: 320px;
      border-radius: 18px;
  }
  
} */ 