.nav {
    font-size: xx-large;
    padding: 0px;
    font-weight: 400;
    background-color: var(--cream);
}

.catitem {
    display: flex;
    color: #787775;
    background-color: var(--cream);
    align-items: center;
    margin-right: 5px;
    font-family: var(--fonts);
}

.catagoriesleft {
    height: 100vh;
}

.nav-link.catitem:hover {
    color: #95C8D8;
}

.nav-link.active {
    color: #95C8D8; 
}

.icondiv {
    width: 70px;
}

.icondiv:hover {
    transform: scale(1.2);
}

h5 {
    
    text-align: center;
    margin: 1.5rem;
    font-weight: bold;

}