.nav {
    font-size: xx-large;
    padding: 20px;
    font-weight: 400;
}

.catitem {
    display: flex;
    color:var(--dark-orange);
    align-items: center;
    margin-right: 5px;
}

.icondiv {
    width: 70px;
}