.card-container {
  display: flex;
  justify-content: space-between;
  
}

.card {
  width: 210px;
  height: 320px;
  border-radius: 18px;
  font-size: 22px;
  overflow: hidden;
  font-weight: bold;
  color: #fff;
}

.card.imgoverlay

.card img {
  width: 240px;
  background-position: center;
  background-repeat: no-repeat;
  
  overflow: hidden;
}

#info-btn {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
}

/* 
@media (min-width: 768px) {

  div.nyt-container {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      max-width: 700px;
      margin-top: 20px;
  }

  div.info-container {
      width: 500px;
      margin-left: 20px;
      max-height: 320px;
      
  }
  .accordion-content.open{
      max-height: 100px;
  }
  
 

 
}

@media (max-width: 767px) {
  div.nyt-container {
      max-width: 240px;
      margin-top: 20px;
  }
  div.info-container {
      height: 320px;
      border-radius: 18px;
  }
  
} */