.bookshelfdiv {
    background-image: url('./Assets/Images/Background.jpg');
    width: -webkit-fill-available !important;
    height: fit-content;
    padding: 30px;
    color: white;
    justify-content: center;
}

.shelf-1 {
    width: -webkit-fill-available !important;
    height: 200px;
    /* background-color: #85DCcB; */
    display: flex;
}

.shelf-2 {
    width: -webkit-fill-available !important;
    height: 200px;
    /* background-color: #85DCcB; */
    margin: 30px 0px 0px 0px;
}

.shelf-3 {
    width: -webkit-fill-available !important;
    height: 200px;
    /* background-color: #85DCcB; */
    margin: 30px 0px 0px 0px;
}

/*
.card-img-top, .card-body {
    width: 150px !important;
    height: 180px !important;
    background-color: #85DCcB !important;
} */