.searchBarContainer {
  background-image: url('../../assets/newheader_720.jpg');
  background-size: cover;
  background-position: center;
  height: auto;
  padding: 6.5rem;
  margin-bottom: 3rem;
}

.heading-book-shelf{
  padding: 0px;
}
.searchBarHeading {
  color: white;
  font-weight: bold;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.683);
}
  
  .searchbtn {
    background-color: #95C8D8;
    border: none;
  }

  .searchbtn:hover {
    background-color: #95C8D8 !important;
  }
