.searchBarContainer {
    background-image: url('../../assets/bookbackground.png'); /* Update the path if necessary */
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 6.5rem;
    margin-bottom: 1.5rem;
  }
  
  .searchBarHeading {
    color: white;
    font-weight: bold;
    text-align: center;
  }
  