.container {
    width: auto;
    margin: 0px;
}

.navdiv {
    display: flex;
    font-size: x-large;
}

.nav-pills {
    justify-content: space-between;
    margin: 0;
    padding: 0px !important;
    align-items: end;
}

.container {
    width: -webkit-fill-available !important;
    max-width: none;
}

.pagebutton {
    margin: 10px;
    padding: 10px;
    color: var(--light-green);
    font-weight: 600;
    
}
.navLogo {
  padding-left: 3.5rem;
}
.navbox {
    background-color:var(--cream);
}

.nav-link:hover {
  color: var(--dark-orange);
}

@media (max-width: 576px) { 
    .navBox {
      max-width: 72%; 
      margin-right: 0.5rem auto; 
    }
  }

  @media (max-width: 576px) { 
    .navdiv {
      flex-direction: column;
      align-items: center;
    }
  
    .pagebutton {
      margin: 10px 0;
    }
  }