.container {
    width: auto;
    border-bottom: solid 2px lightgrey;
    margin: 0px;
}

.navdiv {
    display: flex;
    font-size: x-large;
}

.nav-pills {
    justify-content: space-between;
    margin: 0;
    padding: 0px !important;
    align-items: end;
}

.container {
    width: -webkit-fill-available !important;
    max-width: none;
}

.pagebutton {
    margin: 10px;
    padding: 10px;
    color: #85CDCA;
    font-weight: 600;
    
}

.navLogo {
        background-color: white !important;
        padding: 0px 0px 0px 30px;
}

.navbox {
    background-color: beige;
}

@media (max-width: 576px) { 
    .navBox {
      max-width: 72%; 
      margin-right: 0.5rem auto; 
    }
  }