.bookfooter {
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    background-color: var(--cream);
    padding: 5px;

}

.bookfooter h5{
    color: #787775;
}

@media (max-width: 767px) {
    .bookfooter h5{
        width: 70vw;
    }
     
}
