.flex-container {
  display: flex;
  height: 100%; 
  flex-direction: column;
}

.book-categories {
  flex: 0 0; 
}

.disp-columns{
  display: flex;
  flex-direction: row;
  /* width: -webkit-fill-available; */
}
.book-swiper {
  flex: 3;
  justify-content: center; 
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
}

.book-categories {
  background-color: var(--cream);
  padding: 0;
}