
.card {
    cursor: pointer;
    transition: transform 0.2s ease;
    background-color: var(--purple);
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  .card img {
    object-fit: cover;
    width: 95%;
    height: auto;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-title {
    font-size: 1.5rem;
    background-color: white;
    border-radius: 10px;
    padding: 2%;
  }
  
  .card-text {
    font-size: 1rem;
    font-weight: bold;
  }

  .button-container {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem; 
  }
  
  .more-info {
    background-color: var(--light-orange);
    color: rgb(0, 0, 0);
    border: none;
    margin-right: 1rem;
    max-width: max-content;
    transition: transform 0.2s ease-in-out;
  }
  
  .add-to {
    background-color: var(--light-green);
    color: black;
    border: none;
    max-width: max-content;
    transition: transform 0.2s ease-in-out;
  }
  
  .more-info:hover {
    background-color: var(--dark-orange);
    color: rgb(255, 255, 255);
    transform: scale(1.1);
  }
  .add-to:hover {
    background-color: var(--dark-green);
    color: rgb(255, 255, 255);
    opacity: 0.8; 
    transform: scale(1.1);
  }
  